<style>

p {
	font-family: Arial;
	font-style: bold;
	font-size: 2rem;
	color:#ffffff;
	background-color:#888888;
	text-shadow: 2px 2px 8px #cccccc;
}
.bodyCopyWrap {
	padding:4% 6%;
	width:100%;
	margin:0 auto;
}

</style>